

/*mein erstes stylesheet*/

html { 
  background: url(images/img1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#topimg {
	width: 900px;
	text-align: center;
	min-width: 100%;
  /*min-height: 100%;*/
}

#navbar {
	position: absolute;
	width: 800px;
	height: 50px;
	background-color: green;
	margin: 0px auto;
	text-align: center;
	border-radius: 5px;
	border: 2px solid grey;
}

	
h1,h2	{
	text-align:center;
	font-family:serif;
	}
p	{text-align:center}


.wichtig {
	color:red;
	font-weight:bold;
}

#abbildung1 {
	background-color:lime;
}
