body { 
  background: url(images/img1.jpg) no-repeat center center fixed; 
  background-size: cover;
  text-align: center;
}

#topimg {
	position: relative;
	width: 900px;
	margin: auto;
	min-width: 100%;
	font-size: 20px;
	font-family: Verdana;
}


nav,
nav > ul {
	width: 100%;
	margin: auto;
	padding: 0;
}

nav > ul > li {
	position: relative;
	display: inline-block;
	padding: 20px 50px 20px 50px;
	margin: 0px 50px 0px 50px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 15%;
	height: 8%;
}


a {
	text-decoration: none;
	color: black;
}

#navbar {
	position: relative;
	margin-top: 200px;
	margin: auto;
	display: block;
	background-color: grey;
}

#nav_field {
	
	position: relative;
	display: inline-block;
	padding: 20px 50px 20px 50px;
	margin: 0px 50px 0px 50px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.3);
	width: 15%;
	height: 8%;
	/*
	position: relative;
	height: 100%;
	width: 20%;
	margin: auto;
	display: inline-block;
	
	
	border: 2px solid black;
	border-radius: 5px;
	text-align: center;
	background-color: #ff3300;	*/
}

.textbox {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	text-align: justify;
}

.halfpageleft {
	background-color: rgba(0, 0, 0, 0.3);
	width: 40%;
	height: auto;
	float: left;
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	text-align: justify;
}

.halfpageright {
	background-color: rgba(0, 0, 0, 0.3);
	width: 40%;
	height: auto;
	float: right;
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	text-align: justify;
}

.fussnote {
	clear: both;
	float: right;
	margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: right;
	width: auto;
	border-radius: 5px;
	padding: 0px 5px 0px 5px;
	
}

h1,h2	{
	text-align:left;
	font-family:serif;
	}
	
p	{text-align:justify}


.wichtig {
	color:red;
	font-weight:bold;
}