body{
margin: 0;
padding: 0;
border: 0;
overflow: hidden;
overflow-y: auto;
overflow-x: hidden;
height: 100%; 
max-height: 100%; 
background-color: #D3D3D3;
font-family: Arial, Helvetica, sans-serif;
}

#topcontent {
width: 96%;
height:100%;
position: absolute; 
top: 0; 
left: 2%;
right: 2%; 
height: 140px; /*Height of frame div*/
background-color:  #D3D3D3;
}


#pic_credits{
background-color: rgba(255, 255, 255, 0.7);
float: left;
bottom: 0;
font-size: 10px;
}

#header {
float: right;
font-size: 80px;
font-weight: 800;
font-family: Times, cursive, serif;
}


#linkbar{
position: absolute; 
top: 140px; 
left: 2%;
right: 2%; 
height: 60px; /*Height of frame div*/
overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
background-color: #333;
color: #333;
text-align: center;
}

ul {
    list-style-type: none;
    height: auto;
    left: 2%;
    right: 2%;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    width: 33.3%;
}

li a {
    display: block;
    color: white;
    padding: 20px;
    text-decoration: none;
}

.active {
background-color:#3CB371;
}

a:hover:not(.active) {
    background-color: #111;
}

#mapwrapper{
position: absolute; 
top: 200px; /*Set top value to HeightOfFrameDiv*/
left: 2%;
right: 2%;
bottom: 0;
height: 400px; 
background: #fff;
}


#map{
position: absolute; 
top: 0px; /*Set top value to HeightOfFrameDiv*/
width: 60%;
float: left;
bottom: 0;
overflow: hidden; 
background: #fff;
}

#mapinfo{
width: 38%;
padding-left: 1%;
padding-right: 1%;
height: 100%;
float: right;
overflow-y: auto;
background: #D3D3D3;
text-align: justify;
}

#credits {
position: absolute;
top: 600px;
left: 2%
}